body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #f0f0f0;
    padding: 20px;
}

header h1 {
    color: #333;
}

img[src$=".png"] {
    width: 100px;
    height: auto;
}

nav > ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

nav ul li a:link:first-child {
    color: #ff0000;
}

section::before {
    content: 'Section: ';
    font-weight: bold;
}

section {
    display: block;
    margin-bottom: 20px;
}

img {
    float: left;
    margin-right: 20px;
}

img:hover {
    transform: scale(1.3);
    transition: transform 0.5s ease-in-out;
}

img[src$=".jpg"] {
    filter: grayscale(50%);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    clear: both;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background-color: #f7f7f7;
}

caption {
    font-size: 1.5em;
    margin-bottom: 10px;
}

em {
    font-style: italic;
    color: #009688;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

i {
    font-style: normal;
    background: linear-gradient(to right, #ff6e7f, #bfe9ff);
    -webkit-background-clip: text;
    color: transparent;
}

h2 + p {
    color: #555;
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

h2 ~ p {
    background-color: #f7f7f7;
    padding: 5px;
}