body {
    padding-left: 50px;
    font-family: 'Arial', sans-serif;
    margin: 0;
    background-color: #fff;
}

header {
    background-color: #FF6A00;
    color: white;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: -50px;
}

header h1 {
    margin: 0;
    flex-grow: 1;
}

nav {
    display: flex;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}

nav a.active {
    border-bottom: 2px solid #802000; 
}

.icons {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 10px;
}

.icons span {
    cursor: pointer;
}

.content {
    display: flex;
}

.sidebar {
    width: 250px; 
    padding: 20px;
}

.page-title {
    padding: 10px;
}

.filter-container {
    padding: 20px;
}

.filter-container h3 {
    margin: 0;
    padding-bottom: 10px;
}

.applied-filters {
    padding: 10px 0;
}

.applied-filters span {
    display: inline-block;
    background-color: #FF6A00;
    color: white;
    border-radius: 15px;
    padding: 5px 10px;
    margin-right: 5px;
    font-size: 0.9em;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.product-card {
    width: 220px; 
    margin-bottom: 15px;
    border-radius: 10px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    border: 1px solid #ddd;
}

.product-card img {
    width: 100%; 
    height: auto; 
}

.product-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: -20px 0;
    padding: 0 10px;
}

.product-description {
    text-align: left;
    padding: 20px;

}

.product-card h3 {
    padding-left: 10px;
    color: #333; 
}

.product-card p {
    color: #666; 
}

.product-price {
    font-size: 1.5em; 
    font-weight: bold; 
    flex-grow: 1;
    text-align: right; 
}
